/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

@media only screen and (max-width: 768px) {
  h1 {
    color: #2c303f;
  }

  p {
    color: #5b5e6d;
  }

  img {
    width: 70%;
    background-color: #f4f3f4;
    margin-left: 50px;
  }
  .nav-bar {
    display: flex;
    border: 1px solid red;
    color: #5b5e6d;
  }

  .slack-logo {
    width: 70px;
    height: 40px;
    margin-left: 20px;
  }

  .sidebar {
    margin-left: 50px;
  }

  .home {
    width: 300px;
    height: 200px;
    margin-left: 20px;
  }

  .get-started-btn {
    background-color: #192592;
    color: white;
    border-radius: 4px;
    border: 1px solid;
    padding: 20px;
    width: 100%;
  }

  .discovery-btn {
    color: #192592;
    border-radius: 4px;
    padding: 20px;
    width: 100%;
    border: 1px solid;
    margin-bottom: 20px;
  }

  .email-address {
    border-radius: 4px;
    padding: 20px;
    width: 88%;
    border: 1px solid #5b5e6d;
    margin-bottom: 20px;
  }

  .try-it {
    text-align: center;
  }

  #title {
    font-weight: bolder;
  }

  .iso-slack-logo {
    width: 100px;
    height: 90px;
    background-color: white;
    margin-left: 10px;
  }

  .us-flag {
    width: 10px;
    height: 10px;
  }

  .discover {
    background-color: #f4f3f4;
  }
}
